{
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "always"
    ],
    "no-console": "off",
    "semi": "error"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true
  }
}